<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="github.chenlei.springbootscalademo.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="github.chenlei.springbootscalademo.entity.User" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USERNAME, PASSWORD, REGISTER_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Object" >
    select 
    <include refid="Base_Column_List" />
    from "USER"
    where ID = #{id,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object" >
    delete from "USER"
    where ID = #{id,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="github.chenlei.springbootscalademo.entity.User" >
    insert into "USER" (ID, USERNAME, PASSWORD, 
      REGISTER_TIME)
    values (#{id,jdbcType=OTHER}, #{username,jdbcType=OTHER}, #{password,jdbcType=OTHER}, 
      #{registerTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="github.chenlei.springbootscalademo.entity.User" >
    insert into "USER"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="registerTime != null" >
        REGISTER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=OTHER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=OTHER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=OTHER},
      </if>
      <if test="registerTime != null" >
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="github.chenlei.springbootscalademo.entity.User" >
    update "USER"
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=OTHER},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=OTHER},
      </if>
      <if test="registerTime != null" >
        REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="github.chenlei.springbootscalademo.entity.User" >
    update "USER"
    set USERNAME = #{username,jdbcType=OTHER},
      PASSWORD = #{password,jdbcType=OTHER},
      REGISTER_TIME = #{registerTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=OTHER}
  </update>
</mapper>